<!DOCTYPE html>
<html lang="jp">
  <!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Web estimate of Sanden Techno">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>メインメニュー画面 | Web estimate of Sanden Techno</title>
    <!-- Favicons-->
    <link rel="icon" href="@routes.Assets.at("images/favicon/favicon-32x32.png")" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("images/favicon/apple-touch-icon-152x152.png")">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="@routes.Assets.at("css/themes/fixed-menu/materialize.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("css/themes/fixed-menu/style.css")" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="@routes.Assets.at("css/custom/custom.css")" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="@routes.Assets.at("vendors/prism/prism.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/perfect-scrollbar/perfect-scrollbar.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/sweetalert/dist/sweetalert.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/jsgrid/css/jsgrid.min.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/jsgrid/css/jsgrid-theme.min.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/flag-icon/css/flag-icon.min.css")" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START PASSWORD MODAL -->
    <div id="password-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
	    <form class="" id="password-form">
	      <div class="row margin">
	        <div class="input-field col s12">
	          <i class="material-icons prefix pt-5">lock_outline</i>
	          <input id="password" name="password" type="password">
	          <label for="password">現在のパスワード</label>
	        </div>
	      </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">lock_outline</i>
            <input id="new-password" name="new-password" type="password">
            <label for="new-password">新しいパスワード</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">lock_outline</i>
            <input id="re-password" name="re-password" type="password">
            <label for="re-password">確認用パスワード</label>
          </div>
        </div>
	    </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action waves-effect waves-green btn-flat " id="btnPasscommit">確&nbsp;&nbsp;&nbsp;&nbsp;定</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">取&nbsp;&nbsp;&nbsp;&nbsp;消</a>
    </div>
    </div>
    <!-- END PASSWORD MODAL -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a href="index.html" class="brand-logo darken-1">
                    <img src=@routes.Assets.at("images/logo/materialize-logo.png") alt="materialize logo">
                    <span class="logo-text hide-on-med-and-down">Web estimate of Sanden Techno</span>
                  </a>
                </h1>
              </li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li>
	              <i class="material-icons left">person</i><span id="kaisyaname"></span>&nbsp;&nbsp;<span id="shitenname"></span>&nbsp;&nbsp;<span id="username"></span>
              </li>
              <li>
                &nbsp;
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="no-padding">
	            <div id="card-alert" class="card gradient-45deg-light-blue-cyan">
	              <div class="card-content white-text">
	                <p><i class="material-icons small">info_outline</i>&nbsp; Main Menu</p>
	              </div>
	            </div>
            </li>
            <li class="no-padding">
              <ul class="collapsible" data-collapsible="accordion">
                <li class="bold" id="menu-btn">
                  <a class="waves-effect waves-cyan">
                    <i class="material-icons">toc</i>
                    <span class="nav-text">メインメニュー</span>
                  </a>
                </li>
                <li class="bold" id="listmain">
                  <a class="collapsible-header waves-effect waves-cyan active">
                    <i class="material-icons">dashboard</i>
                    <span class="nav-text">見積件名管理</span>
                  </a>
                  <div class="collapsible-body">
                    <ul id="menuMain">
                    </ul>
                  </div>
                </li>
                <li class="bold" id="listmst">
                  <a class="collapsible-header waves-effect waves-cyan">
                    <i class="material-icons">build</i>
                    <span class="nav-text">マスタメンテナンス</span>
                  </a>
                  <div class="collapsible-body">
                    <ul id="menuMst">
                    </ul>
                  </div>
                </li>
                <li class="bold" id="password-btn">
                  <a class="waves-effect waves-cyan modal-trigger" href="#password-modal">
                    <i class="material-icons">lock</i>
                    <span class="nav-text">パスワード変更</span>
                  </a>
                </li>
                <li class="bold" id="logout-btn">
                  <a class="waves-effect waves-cyan">
                    <i class="material-icons">directions_walk</i>
                    <span class="nav-text">ログアウト</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
          <!--start container-->
          <div class="container">
            <!--card stats start-->
            <div id="card-stats">
              <div class="row">
                <div class="col s12 m4 l2 offset-l1 ">
                  <a href="#">
                  <div class="card stts" stts="10">
                    <div class="card-content cyan white-text">
                      <p class="card-stats-title">
                        <i class="material-icons">note_add</i>&nbsp;Estimate Input</p>
                      <h4 class="card-stats-number" id="mtinput">566 件</h4>
                      <p class="card-stats-compare">
                        <span class="cyan text text-lighten-5">見積依頼中</span>
                      </p>
                    </div>
                    <div class="card-action cyan darken-1">
                      <div id="clients-bar" class="center-align"></div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col s12 m4 l2">
                  <a href="#">
                  <div class="card stts" stts="20">
                    <div class="card-content red accent-2 white-text">
                      <p class="card-stats-title">
                        <i class="material-icons">assignment_returned</i>&nbsp;Estimate Anser</p>
                      <h4 class="card-stats-number" id="mtanser">10 件</h4>
                      <p class="card-stats-compare">
                        <span class="red-text text-lighten-5">見積回答済</span>
                      </p>
                    </div>
                    <div class="card-action red darken-1">
                      <div id="sales-compositebar" class="center-align"></div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col s12 m4 l2">
                  <a href="#">
                  <div class="card stts" stts="25">
                    <div class="card-content teal accent-4 white-text">
                      <p class="card-stats-title">
                        <i class="material-icons">shopping_cart</i>&nbsp;Estimate Order</p>
                      <h4 class="card-stats-number" id="mtorder">24 件</h4>
                      <p class="card-stats-compare">
                        <span class="teal-text text-lighten-5">見積発注</span>
                      </p>
                    </div>
                    <div class="card-action teal darken-1">
                      <div id="profit-tristate" class="center-align"></div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col s12 m4 l2">
                  <a href="#">
                  <div class="card stts" stts="30">
                    <div class="card-content deep-orange accent-2 white-text">
                      <p class="card-stats-title">
                        <i class="material-icons">work</i>&nbsp;Order Commit</p>
                      <h4 class="card-stats-number" id="mtcommit">126 件</h4>
                      <p class="card-stats-compare">
                        <span class="deep-orange-text text-lighten-5">受注確定</span>
                      </p>
                    </div>
                    <div class="card-action  deep-orange darken-1">
                      <div id="invoice-line" class="center-align"></div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col s12 m4 l2">
                  <a href="#">
                  <div class="card stts" stts="40">
                    <div class="card-content deep-purple accent-2 white-text">
                      <p class="card-stats-title">
                        <i class="material-icons">done</i>&nbsp;Construction End</p>
                      <h4 class="card-stats-number" id="mtsekou">14256 件</h4>
                      <p class="card-stats-compare">
                        <span class="deep-purple-text text-lighten-5">施工完了</span>
                      </p>
                    </div>
                    <div class="card-action  deep-purple darken-1">
                      <div id="invoice-line" class="center-align"></div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <!--card stats end-->
		      </div>
	        <!--DataTables -->
	        <div id="table-datatables">
            <div id="card-alert" class="card gradient-45deg-light-blue-cyan">
              <div class="card-content white-text">
                <p><i class="material-icons small">info_outline</i>&nbsp; 見積件名一覧</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div id="jsGrid-sorting"></div>
              </div>
            </div>
            <div class="divider"></div>
	        </div>
          <!--AlertArea -->
          <div id="alert-area">
            <div class="row">
              <div class="col s12 m6 l3">
		            <div id="card-alert" class="card gradient-45deg-purple-deep-orange">
                <a href="#" id="alert-message">
		              <div class="card-content white-text">
		                <p><i class="material-icons small">notifications</i>&nbsp; <span id="alertmessage"></span></p>
		              </div>
                </a>
		            </div>
              </div>
            </div>
          </div>
		    </section>
      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="@routes.Assets.at("vendors/jquery-3.2.1.min.js")"></script>
    <!--angularjs-->
    <script type="text/javascript" src="@routes.Assets.at("vendors/angular.min.js")"></script>
    <!--materialize js-->
    <script type="text/javascript" src="@routes.Assets.at("js/materialize.min.js")"></script>
    <!--prism-->
    <script type="text/javascript" src="@routes.Assets.at("vendors/prism/prism.js")"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="@routes.Assets.at("vendors/perfect-scrollbar/perfect-scrollbar.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("vendors/jquery-validation/jquery.validate.min.js")"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="@routes.Assets.at("vendors/sweetalert/dist/sweetalert.min.js")"></script>
    <!--data-->
    <script type="text/javascript" src="@routes.Assets.at("vendors/jsgrid/js/jsgrid.min.js")"></script>
     <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="@routes.Assets.at("js/plugins.js")"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="@routes.Assets.at("js/custom-script.js")"></script>
    <!-- MY SYSTEM -->
    <script type="text/javascript" src="@routes.Assets.at("js/weos.js")"></script>
    <!-- MY APP -->
    <script type="text/javascript" src="@routes.Assets.at("js/menu.js")"></script>
  </body>
</html>