<!DOCTYPE html>
<html lang="jp">
  <!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 4.0
  Author: PIXINVENT
  Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Web estimate of Sanden Techno">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>見積検索画面 | Web estimate of Sanden Techno</title>
    <!-- Favicons-->
    <link rel="icon" href="@routes.Assets.at("images/favicon/favicon-32x32.png")" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("images/favicon/apple-touch-icon-152x152.png")">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="@routes.Assets.at("css/themes/fixed-menu/materialize.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("css/themes/fixed-menu/style.css")" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="@routes.Assets.at("vendors/prism/prism.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/perfect-scrollbar/perfect-scrollbar.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/sweetalert/dist/sweetalert.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/jsgrid/css/jsgrid.min.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/jsgrid/css/jsgrid-theme.min.css")" type="text/css" rel="stylesheet">
    <link href="@routes.Assets.at("vendors/flag-icon/css/flag-icon.min.css")" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="@routes.Assets.at("css/custom/custom.css")" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a href="index.html" class="brand-logo darken-1">
                    <img src=@routes.Assets.at("images/logo/materialize-logo.png") alt="materialize logo">
                    <span class="logo-text hide-on-med-and-down">Web estimate of Sanden Techno</span>
                  </a>
                </h1>
              </li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li>
                <i class="material-icons left">person</i><span id="kaisyaname"></span>&nbsp;&nbsp;<span id="shitenname"></span>&nbsp;&nbsp;<span id="username"></span>
              </li>
              <li>
                &nbsp;
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="no-padding">
              <div id="card-alert" class="card gradient-45deg-light-blue-cyan">
                <div class="card-content white-text">
                  <p><i class="material-icons small">info_outline</i>&nbsp; Main Menu</p>
                </div>
              </div>
            </li>
            <li class="no-padding">
              <ul class="collapsible" data-collapsible="accordion">
                <li class="bold" id="menu-btn">
                  <a class="waves-effect waves-cyan">
                    <i class="material-icons">toc</i>
                    <span class="nav-text">メインメニュー</span>
                  </a>
                </li>
                <li class="bold">
                  <a class="collapsible-header waves-effect waves-cyan active">
                    <i class="material-icons">dashboard</i>
                    <span class="nav-text">見積件名管理</span>
                  </a>
                  <div class="collapsible-body">
                    <ul id="menuMain">
                    </ul>
                  </div>
                </li>
                <li class="bold">
                  <a class="collapsible-header waves-effect waves-cyan">
                    <i class="material-icons">build</i>
                    <span class="nav-text">マスタメンテナンス</span>
                  </a>
                  <div class="collapsible-body">
                    <ul id="menuMst">
                    </ul>
                  </div>
                </li>
                <li class="bold" id="logout-btn">
                  <a class="waves-effect waves-cyan">
                    <i class="material-icons">directions_walk</i>
                    <span class="nav-text">ログアウト</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
          <!--start container-->
          <div class="container">
            <!--検索条件-->
            <div class="row">
              <div class="col s12">
              <!-- 空白 -->
              &nbsp;
              </div>
            </div>
            <div class="row">
                <form class="col s12 card-panel" id="retrieval-form">
                  <div class="row">
                    <div class="col s12">
                      <h4 class="header2"><i class="material-icons small">info_outline</i>&nbsp; 見積検索条件</h4>
                    </div>
                    <div class="input-field col s12 m4 l2">
                      <input placeholder="0000000000" id="mitumori-no-from" name="mitumori-no-from" type="text" class="">
                      <label for="mitumori-no-from">見積番号</label>
                    </div>
                    <div class="input-field col s12 m4 l2">
                      <input  placeholder="0000000000" id="mitumori-no-to" name="mitumori-no-to" type="text" class="">
                    </div>
                    <div class="input-field col s12 m4 l2">
                      <input placeholder="" id="kanri-no" type="text" class="validate">
                      <label for="kanri-no">管理番号</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 m4 l2">
                      <input placeholder="yyyy/mm/dd" id="request-from" name="request-from" type="text" class="datepicker">
                      <label for="request-from">要求納期</label>
                    </div>
                    <div class="input-field col s12 m4 l2">
                      <input  placeholder="yyyy/mm/dd" id="request-to" type="text" class="datepicker">
                    </div>
                    <div class="input-field col s12 m4 l2">
                      <input placeholder="yyyy/mm/dd" id="anser-from" type="text" class="datepicker">
                      <label for="anser-from">回答納期</label>
                    </div>
                    <div class="input-field col s12 m4 l2">
                      <input  placeholder="yyyy/mm/dd" id="anser-to" type="text" class="datepicker">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 m10 l6">
                      <input placeholder="" id="kenmei" type="text" class="">
                      <label for="kenmei">工事件名</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 m2 l1">
                      <input placeholder="" id="tokuisaki-no" type="text" class="">
                      <label for="tokuisaki-no">得意先</label>
                    </div>
                    <div class="input-field col s12 m5 l4">
                      <input  placeholder="" id="tokuisaki-name" type="text" class="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m8">
                      <div class="chip cyan white-text z-depth-2 stts-chip" id="mtinput">
                        <a href="#" class="white-text"><i class="material-icons small">note_add</i>&nbsp;&nbsp;見積依頼中</a>
                      </div>
                      <div class="chip red accent-2 white-text z-depth-2 stts-chip" id="mtanser">
                        <a href="#" class="white-text"><i class="material-icons small">assignment_returned</i>&nbsp;&nbsp;見積回答済</a>
                      </div>
                      <div class="chip teal accent-4 white-text z-depth-2 stts-chip" id="mtorder">
                        <a href="#" class="white-text"><i class="material-icons small">shopping_cart</i>&nbsp;&nbsp;見積発注</a>
                      </div>
                      <div class="chip deep-orange accent-2 white-text z-depth-2 stts-chip" id="mtcommit">
                        <a href="#" class="white-text"><i class="material-icons small">work</i>&nbsp;&nbsp;受注確定</a>
                      </div>
                      <div class="chip deep-purple accent-2 z-depth-2 stts-chip" id="mtsekou">
                        <a href="#" class="white-text"><i class="material-icons small">done</i>&nbsp;&nbsp;施工完了</a>
                      </div>
                    </div>
                    <div class="col s12 m4">
                      <div class="chip gradient-45deg-indigo-light-blue white-text z-depth-2">
                        <a href="#" class="white-text" id="retrieval-btn"><i class="material-icons small">search</i>&nbsp;&nbsp;検&nbsp;&nbsp;&nbsp;&nbsp;索</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                    <!-- 空白 -->
                    &nbsp;
                    </div>
                  </div>
                  <!-- 隠し項目 -->
                  <input  id="mode" type="hidden" class="">
                </form>
              </div>
              <!-- END 検索条件 -->
              <!--DataTables -->
              <div id="table-datatables">
                <h4 class="header">&nbsp;見積件名一覧</h4>
                  <div class="row">
                    <div class="col s12">
                      <div id="jsGrid-sorting"></div>
                    </div>
                  </div>
              </div>
          </div>
        </section>
      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="@routes.Assets.at("vendors/jquery-3.2.1.min.js")"></script>
    <!--angularjs-->
    <script type="text/javascript" src="@routes.Assets.at("vendors/angular.min.js")"></script>
    <!--materialize js-->
    <script type="text/javascript" src="@routes.Assets.at("js/materialize.js")"></script>
    <!--prism-->
    <script type="text/javascript" src="@routes.Assets.at("vendors/prism/prism.js")"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="@routes.Assets.at("vendors/perfect-scrollbar/perfect-scrollbar.min.js")"></script>
    <!-- chartist -->
    <script type="text/javascript" src="@routes.Assets.at("vendors/jquery-validation/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("vendors/jquery-validation/additional-methods.min.js")"></script>
    <!--sweetalert -->
    <script type="text/javascript" src="@routes.Assets.at("vendors/sweetalert/dist/sweetalert.min.js")"></script>
    <!--data-->
    <script type="text/javascript" src="@routes.Assets.at("vendors/jsgrid/js/jsgrid.min.js")"></script>
     <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="@routes.Assets.at("js/plugins.js")"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="@routes.Assets.at("js/custom-script.js")"></script>
    <!-- MY SYSTEM -->
    <script type="text/javascript" src="@routes.Assets.at("js/weos.js")"></script>
    <!-- MY APP -->
    <script type="text/javascript" src="@routes.Assets.at("js/retrieval.js")"></script>
  </body>
</html>